
/*ESTILOS GENERALES*/

/*Carga de Fuentes*/
@font-face {
	font-family:'MiHelvetica';

}
*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*color de los iconos  */
 .red{
      background-color: #c5e7cf;
       }


       .limite {
  width: 100%;
  margin: 0 auto;
}

/*==================================cuadro  inicial================================*/
.container-login105 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #6ad79b;
}


.wrap-login105 {
  width: 670px;
  background: #fff;
  border-radius: 20px;
   border-color: : blue;
  overflow: hidden;
  position: relative;
}

 .wrap-login105>h5 {
      color: blue;
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 15px darkgreen;
     font-family: BATAVIA;
     font-size:15px;
     text-align: left;
     float: none;
}
 .wrap-login105>h2 {
      color: green;
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 15px darkgreen;
     font-family: BATAVIA;
     font-size:15px;
     text-align: center;
    float: none;
}
 h1 {
  color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 15px darkgreen;
     font-family: BATAVIA;
     font-size:45px;
     text-align: center;
    
}
  h3{
  	
      font-family: 'MiHelvetica';
	color: #000000;
	text-shadow: 1px 1px 0 rgb(56, 55, 55);
	font-size: 2.75em; /*60-16*/

       }
         h4{
  	
      font-family: 'MiHelvetica';
	color: white;
	text-shadow: 1px 1px 0 rgb(56, 55, 55);
	font-size: 5.75em; /*60-16*/
	letter-spacing: 2px;
	margin: 1.466666666666667em 0 0 0;/*88-60*/
	line-height: 1.1;
       }
img.mi{

	width: 50%;
	  margin-top: 10px;
}
  p{
  	
      font-family: 'MiHelvetica';
	color: red;
	text-shadow: 1px 1px 0 rgb(56, 55, 55);
	font-size: 1em; /*60-16*/
	letter-spacing: 2px;
	margin: 1.466666666666667em 0 0 0;/*88-60*/
	line-height: 1.1;
text-align: center;
       }
.contenedor{
	display: table;
	clear: both;
	width: 90%;
	margin: 0 auto;

}
/*----------------------------------------------------
ESTILOS PARA EL  ENCABEZADO
-----------------------------------------------------*/
header.encabezado{
	padding: 0.10em ;
}

.barra-encabezado{
	font-size:1.4533em;
	width: 100%;
	margin-top:  0.10em;/*15-16*/
		height: 0.20em;  
}
.barra-media{
font-size: 3em;
	width: 100%;
	margin-top: 0.9375em;/*15-16*/
	background: url("../images/encabezado/fon.jpg") no-repeat  center top;
	background-size:cover;
}
.barra-encabezado .telefono{
	display: inline-block;
	color: green;
	text-decoration: none;
	font-size: 1em; /*20-16*/
	cursor: default;
}

.barra-encabezado .telefono .fa-phone{
	font-size: 1em;/*35-20*/
	vertical-align: middle;
	padding-right: 0.1em;/*2-20*/
}

.barra-encabezado form input{
	background: #f2f2f1;
	padding: 0.625em; /*12-16*/
	color: #a49c8f;
	border: 1px solid #dedede; 
	border-radius: 0.3125em;/*5-16*/
}
.barra-encabezado form input:hover,
.barra-encabezado form input:focus{
	background: #EAEAEA;
	border: 1px solid #ED8D21;
	outline: none;
	
}


.barra-encabezado form{
	display: inline-block;
	margin: 0 2.5em; /*40 -16*/
}
.barra-encabezado .redes-sociales{
	display: inline-block;

}
.barra-encabezado .redes-sociales li{
	display: inline-block;
}

.barra-encabezado .redes-sociales li a{
	float: right;
	color: white;
	background: green;
	
	width: 2em; /*36-16*/
	height: 2em;/*36-16*/
	line-height: 2em;/*36-16*/
	border-radius: 50%;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.barra-encabezado .redes-sociales li a:hover{
	background: white;/*color de los iconos   al apretarlos  ---------------- */
}

/*-----------------------------------------------------
ESTILOS PARA EL MENU PRINCIPAL
------------------------------------------------*/
nav.menu-principal{
	background: #ffffff;
	font-family: 'MiHelvetica';
	font-size: 2 em;
}
nav.menu-principal ul{
	margin: 0;
	padding: 0;
	display:table;
	width: 100%;
}

nav.menu-principal ul li{
	display:table-cell;
}

nav.menu-principal ul li a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 1.125em; /*18-16*/
	padding: 1.25em 0; /*20-16*/
	border-left: 0.0625em solid #000000;/*1-16*/
	border-right: 0.0625em solid #ffffff;/*1-16*/
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}
nav.menu-principal ul li:first-child a{
	border-left: none;
}

nav.menu-principal ul li:last-child a{
	border-right: none;
}
nav.menu-principal ul li a:hover{
	background:white;
}

/*-----------------------------------
ESTILOS PARA LA PRESENTACION
---------------------------------*/



/*--------------------------------------------
ESTILOS PARA BIENVENIDOS
---------------------------------------------*/
.bienvenidos h2{
	font-family: 'MiHelvetica';
	color: #ffffff;
	font-size: 3em;/*48-16*/
	margin: 0.5833333333333333em 0 0 0;/*28-48*/
	line-height: 1.1;
	text-align: center;
}

.bienvenidos p{
	font-family: 'MiHelvetica';
	color: #ffffff;
	font-size: 1.75em;/*28-16*/
	margin: 0.2857142857142857em 0 0 0;/*8-48*/
	line-height: 1.1;
	text-align: center;
}

.bloque-bienvenidos{
	display: table;
	margin:0.3125em 0 0 0;/*5-16*/
}

.bloque-bienvenidos figure{
	display: table-cell;
	text-align: center;
	padding:0.9375em 2.1875em; /*15px 35px */
}
.bloque-bienvenidos figure a{
	text-decoration: none;
	display: block;
}
.bloque-bienvenidos figure img{
	max-width: 100%;
}

.bloque-bienvenidos figure a h3:hover{
	color:#000000;
}

.bienvenidos h3{
	font-family: 'MiHelvetica';
	color: #000000;
	font-size: 1.5625em;/*25-16*/
	margin: 0.6em 0 0.4em 0;/*15px 0 10px 0*/
	line-height: 1.1;
	
}
/*--------------------------------
ESTILOS CONTENIDO PRINCIPAL DEL SITIO
----------------------------------*/
main{
	background: #ffffff;
	color: white;
	padding-bottom: 3.125em; /*50-16*/
}
main article.quienes-somos{
	display: table-cell;
	width: 65%;
	padding: 0.625em; /*10-16*/
}

main article.quienes-somos img{
	float: left;
	width: 40%;	
	margin: 0 2% 0 0;
}




main article.quienes-somos a{
	display: inline-block;
	text-align: center;
	color: white;
	font-size:1.75em; /* 28-16*/
	padding:0.3571428571428571em 1.071428571428571em;    /*10 30 - 28 */
	border: 0.25em solid rgba(255, 255, 255, 0.42);/*5-20*/
	border-radius: 0.2857142857142857em; /*8-28*/
	background-color: #ffffff;
	background-clip: padding-box;
	text-decoration: none;
	margin: 0.7142857142857143em 0 0 0; /*20-28*/

	-webkit-transition:all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

main article.quienes-somos a:hover{
	border: 0.25em solid rgba(255, 255, 255, 0.87);/*5-20*/
	background-color: #ffffffff;
}


main article h2{
	font-family: 'MiHelvetica';
	font-size: 2.1875em;/*25-16*/
}


main article.aqui-estamos{
	display: table-cell;
	width: 35%;
	padding: 0.625em; /*10-16*/
}
main article.aqui-estamos iframe{
	height:20.5em;  
}

/*------------------------
ESTILOS PARA EL PIE DE PAGINA
------------------------*/
footer.piedepagina{
	background: #ffffff;
	color: white;
	text-align: center;
	padding: 10px 0;
}
footer>small{
	display: block;
}

/*Ocultamos boton Movil*/
#menumovil{
	display: none;
}


/*-------------------------------------
MediaQueries a los 1200px
------------------------------------*/
@media screen and (max-width: 75em){

	section.presentacion .texto-presentacion h1 {

		font-size: 3em;

	}

	} /*Fin de mediasqueries*/

/*-------------------------------------
MediaQueries a los 990px
------------------------------------*/
@media screen and (max-width: 61.875em){

	section.presentacion .texto-presentacion h1 {
		font-size: 2.8em;
		margin: 1.1em 0 0 0;
	}

	} /*Fin de mediasqueries*/

/*-------------------------------------
MediaQueries a los 966px
------------------------------------*/
@media screen and (max-width: 60.375em){

	body{
		font-size: 87.5%; /*14px*/
	}
	.contenedor {
		width: 100%;
	}
	} /*Fin de mediasqueries*/

@media screen and (max-width: 46.875em){
	.contenedor{
		width: 100%;
	}

	main article.quienes-somos {
		display: block;
		width: 100%;
		overflow: hidden;
	}

	main article.aqui-estamos {
		display: block;
		width: 100%;
		padding: 0.625em;
	}

	nav.menu-principal ul li a{
		font-size: 1em;

	}

	header.encabezado {
		padding: 1em 0;
	}
	.logo{
		width: 100%;
		display: block;
		float: none;
		text-align:center;
	}

	.barra-encabezado {
		float: none;
		text-align: center;
	}



	/*Estilos Menu Movil*/
	nav.menu-principal ul{
		display: none;
		background:#000000;
	}


	nav.menu-principal ul li{
		float: none;
		width: auto;
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #000000;
		display: block;
	}

	nav.menu-principal ul li a{
		background: #ffffff;
		color: white;
		border-radius:0; /*6px / 16px*/
		margin: 0; 
		transition:all 0.5s ease;
	}

	nav.menu-principal ul li a:hover{
		background: #ffffff;
		border-radius: 0;
	}



	/*Estilos para el boton de 3 linea*/
	#menumovil{
		display: block;
		background:#ffffff;
		position: relative;
		color: white;
		text-decoration:none;
		text-align: center;
		
		line-height: 8em; /*48px 16px*/
	}
	#menumovil:hover{
		background:#000000;
	}

	#menumovil:before{
		content: "";
		position: absolute;
		right: 0.75em; /*12 16px*/ 
		top: 0.75em; /*12 16px*/ 
		width: 1.875em; /*30px  16px*/
		height: 1.28em;
		border-top: 0.25em solid white; /*4 -16*/
		border-bottom: 0.75em double white; /*12-16*/
		transition:all 0.5s ease;
	}

	#menumovil:hover:before{
		content: "";
		border-top: 0.25em  solid #000000;
		border-bottom: 0.75em double #000000;
	}


	.bloque-bienvenidos figure {
		display: block;
		text-align: center;
		padding: 0.2em 2.1875em;
		overflow: hidden;
		border-bottom:0.3125em solid rgba(238, 86, 36, 1); /* 5-16*/
	}
	.bloque-bienvenidos figure img {
		float: left;
		margin-right: 2%;
	}


	.bienvenidos h3 {
		text-align: right;
	}
	.bienvenidos figcaption{
		text-align: right;
	}


	section.presentacion .texto-presentacion .boton-principal {
		font-size: 1.4em;
	}

	} /*Fin de mediasqueries*/


/*-------------------------------------
MediaQueries a los 550px
------------------------------------*/
@media screen and (max-width: 34.375em){

	.barra-encabezado .telefono {
		display: block;
		cursor: pointer;
	}
	.barra-encabezado form {
		display: block;
		margin: 0.5em 0;

	}
	.barra-encabezado .redes-sociales {
		display: block;
		padding: 0;
		margin: 0;
	}


	.barra-encabezado .telefono {
		display: block;
		cursor: pointer;
		background: rgb(238, 86, 36);
		color: white;
		padding: 0.5em;
		border-radius: 0.3125em;
		width: 96%;
		font-size: 1.5em;
		margin: 0 auto;
		text-shadow: 1px 1px 0 rgb(150, 44, 9);
	}

	.barra-encabezado .telefono:hover {
		background: rgb(240, 173, 21);
	}

	section.presentacion .texto-presentacion h1 {
		font-size: 2.3em;
		margin: 0.1em 0 0 0;
	}

	} /*Fin de mediasqueries*/


/*-------------------------------------
MediaQueries a los 515px
------------------------------------*/


/*-------------------------------------
MediaQueries a los 420px
------------------------------------*/
@media screen and (max-width: 26.25em){

	main article.quienes-somos img {
		float: none;
		width: 50%;
		margin: 0 auto;
		display: block;
	}


	main article.quienes-somos p {
		float: none;
		width: 96%;
		margin: 0;
	}

	section.presentacion .texto-presentacion .boton-principal {
		font-size: 0.8em;
		margin-bottom: 0.6em;
	}

	} /*Fin de mediasqueries*/





/*-------------------------------------
MediaQueries a los 1800px
------------------------------------*/
@media screen and (min-width: 112.5em){
	body{
		font-size: 125%;/*20px*/
	}


	section.presentacion .texto-presentacion .boton-principal {
		margin: 0.714286em 0 1em;

	}
	section.presentacion .images-presentacion img {
		top: 3.5em;

	}

	} /*Fin de mediasqueries*/

/*-------------------------------------
